@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Student_information_system_2.Models.Department>

<table class="display-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Id</td>
                <td>@department.Name</td>
                <td>@department.Description</td>
                <td>
                    <a class="btn btn-dark" asp-controller="Department" asp-action="EditDepartment" asp-route-id="@department.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-dark" onclick="window.location.href='@Url.Action("AddDepartment", "Department")'">Add Department</button>